<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shiny stuff0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0001</key>
			<dict>
				<key>frame</key>
				<string>{{41,0},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0002</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0003</key>
			<dict>
				<key>frame</key>
				<string>{{123,0},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0004</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0005</key>
			<dict>
				<key>frame</key>
				<string>{{205,0},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0006</key>
			<dict>
				<key>frame</key>
				<string>{{246,0},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0008</key>
			<dict>
				<key>frame</key>
				<string>{{41,48},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0009</key>
			<dict>
				<key>frame</key>
				<string>{{82,48},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0010</key>
			<dict>
				<key>frame</key>
				<string>{{123,48},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0011</key>
			<dict>
				<key>frame</key>
				<string>{{164,48},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0012</key>
			<dict>
				<key>frame</key>
				<string>{{205,48},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0013</key>
			<dict>
				<key>frame</key>
				<string>{{246,48},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0015</key>
			<dict>
				<key>frame</key>
				<string>{{41,96},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0016</key>
			<dict>
				<key>frame</key>
				<string>{{82,96},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0017</key>
			<dict>
				<key>frame</key>
				<string>{{123,96},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0018</key>
			<dict>
				<key>frame</key>
				<string>{{164,96},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0019</key>
			<dict>
				<key>frame</key>
				<string>{{205,96},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0020</key>
			<dict>
				<key>frame</key>
				<string>{{246,96},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0021</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>shiny stuff0022</key>
			<dict>
				<key>frame</key>
				<string>{{41,144},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>shiny_stuff.png</string>
			<key>size</key>
			<string>{300,200}</string>
			<key>textureFileName</key>
			<string>shiny_stuff.png</string>
		</dict>
	</dict>
</plist>
