<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Tall dwarf walk side left instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{124,0},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,0},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,0},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,101},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{124,101},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,101},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,101},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,202},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{124,202},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,202},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,202},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,303},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{124,303},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,303},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,303},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,404},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{124,404},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,404},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,404},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,505},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{124,505},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,505},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall dwarf walk side left instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,101}</string>
				<key>spriteSourceSize</key>
				<string>{124,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{124,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>tall_dwarf_profile.png</string>
				<key>textureFileName</key>
				<string>tall_dwarf_profile</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
