<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Tall_dwarf_walk_down instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{87,0},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{174,0},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{261,0},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,0},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,101},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{87,101},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{174,101},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{261,101},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,101},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,202},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{87,202},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{174,202},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{261,202},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,202},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,303},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{87,303},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{174,303},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{261,303},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,303},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,404},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{87,404},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{174,404},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Tall_dwarf_walk_down instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,101}</string>
				<key>spriteSourceSize</key>
				<string>{87,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{87,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>tall_dwarf_down.png</string>
				<key>textureFileName</key>
				<string>tall_dwarf_down</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
