<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wind_test2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,0},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,71},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,71},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,142},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,142},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,213},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,213},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,284},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,284},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,355},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,355},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,426},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,426},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,497},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,497},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,568},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,568},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,639},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,639},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,710},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,710},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,781},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,781},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,852},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wind_test2 instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,71}</string>
				<key>spriteSourceSize</key>
				<string>{511,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,852},{511,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>wind_small.png</string>
				<key>textureFileName</key>
				<string>wind_small</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
