<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Fatass_diag_up_right instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{108,0},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{216,0},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,0},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,101},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{108,101},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{216,101},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,101},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,202},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{108,202},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{216,202},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,202},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,303},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{108,303},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{216,303},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,303},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,404},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{108,404},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{216,404},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,404},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,505},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{108,505},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{216,505},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,505},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,606},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fatass_diag_up_right instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,101}</string>
				<key>spriteSourceSize</key>
				<string>{108,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{108,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>fat_dwarf_diagonal_up.png</string>
				<key>textureFileName</key>
				<string>fat_dwarf_diagonal_up</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
