<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Fataas_diag_down_left instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{134,0},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,0},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,83},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{134,83},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,83},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,166},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{134,166},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,166},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,249},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{134,249},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,249},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,332},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{134,332},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,332},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,415},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{134,415},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,415},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,498},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{134,498},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,498},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,581},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{134,581},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,581},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,664},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas_diag_down_left instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,83}</string>
				<key>spriteSourceSize</key>
				<string>{134,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{134,664},{134,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>fat_dwarf_diagonal_down.png</string>
				<key>textureFileName</key>
				<string>fat_dwarf_diagonal_down</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
