<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mt_lode instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{83,0},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,0},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{249,0},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{332,0},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{415,0},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,83},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{83,83},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,83},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{249,83},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{332,83},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{415,83},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,166},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{83,166},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,166},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{249,166},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{332,166},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{415,166},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,249},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>mt_lode instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,83}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{83,249},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>mt_bullet.png</string>
				<key>textureFileName</key>
				<string>mt_bullet</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
