<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>le_troll_idle instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{119,0},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{238,0},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{357,0},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{476,0},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{595,0},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{714,0},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{833,0},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,187},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{119,187},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{238,187},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{357,187},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{476,187},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{595,187},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{714,187},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{833,187},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,374},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{119,374},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{238,374},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{357,374},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{476,374},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{595,374},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{714,374},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{833,374},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,561},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{119,561},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{238,561},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{357,561},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{476,561},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_idle instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,187}</string>
				<key>spriteSourceSize</key>
				<string>{119,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{119,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>mt_idle.png</string>
				<key>textureFileName</key>
				<string>mt_idle</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
