<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>le_troll_spawn1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{188,0},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{376,0},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{564,0},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{752,0},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,215},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{188,215},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{376,215},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{564,215},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{752,215},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,430},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{188,430},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{376,430},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{564,430},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn1 instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,215}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,215}</string>
				<key>spriteSourceSize</key>
				<string>{188,215}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{752,430},{188,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>mt_jumping.png</string>
				<key>textureFileName</key>
				<string>mt_jumping</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
