<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>le_troll_spawn2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{189,0},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{378,0},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{567,0},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{756,0},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,236},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{189,236},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{378,236},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{567,236},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{756,236},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,472},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{189,472},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{378,472},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{567,472},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_spawn2 instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,236}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{189,236}</string>
				<key>spriteSourceSize</key>
				<string>{189,236}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{756,472},{189,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>mt_magic1.png</string>
				<key>textureFileName</key>
				<string>mt_magic1</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
