<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>le_troll_charge_shot instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{156,0},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,0},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{468,0},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{624,0},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{780,0},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,196},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{156,196},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,196},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{468,196},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{624,196},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{780,196},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,392},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{156,392},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,392},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{468,392},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{624,392},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{780,392},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,588},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{156,588},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,588},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{468,588},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{624,588},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{780,588},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,784},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{156,784},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,784},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{468,784},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{624,784},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{780,784},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,980},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{156,980},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,980},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{468,980},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_charge_shot instance 10034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,196}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,196}</string>
				<key>spriteSourceSize</key>
				<string>{156,196}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{624,980},{156,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>mt_shoot.png</string>
				<key>textureFileName</key>
				<string>mt_shoot</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
