<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>le_troll_pre_smash instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{276,0},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{552,0},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{828,0},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1104,0},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1380,0},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1656,0},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,364},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{276,364},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{552,364},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{828,364},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1104,364},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1380,364},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1656,364},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,728},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{276,728},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{552,728},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{828,728},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1104,728},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1380,728},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1656,728},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1092},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{276,1092},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{552,1092},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{828,1092},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1104,1092},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1380,1092},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1656,1092},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1456},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{276,1456},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{552,1456},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>le_troll_pre_smash instance 10031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,364}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{276,364}</string>
				<key>spriteSourceSize</key>
				<string>{276,364}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{828,1456},{276,364}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>mt_smash.png</string>
				<key>textureFileName</key>
				<string>mt_smash</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
