<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>luuka_anim_orange instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{132,0},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{264,0},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,76},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{132,76},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{264,76},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,152},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,152},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,152},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{264,76},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{132,76},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,76},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{264,0},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{132,0},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>luuka_anim_orange instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,76}</string>
				<key>spriteSourceSize</key>
				<string>{132,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{132,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>luuka_orange.png</string>
				<key>textureFileName</key>
				<string>luuka_orange</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
