<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dwarf_king_spell2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,0},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{336,0},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{504,0},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{672,0},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{840,0},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,262},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,262},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{336,262},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{504,262},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{672,262},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{840,262},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,524},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,524},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dwarf_king_spell2 instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,262}</string>
				<key>spriteSourceSize</key>
				<string>{168,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{336,524},{168,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>king_spell2.png</string>
				<key>textureFileName</key>
				<string>king_spell2</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
