<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>power_timer instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{79,0},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,0},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,0},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{316,0},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{395,0},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,78},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{79,78},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,78},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,78},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{316,78},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{395,78},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,156},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{79,156},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,156},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,156},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{316,156},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{395,156},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,234},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{79,234},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,234},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,234},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{316,234},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{395,234},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,312},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{79,312},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,312},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,312},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{316,312},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{395,312},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,390},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{79,390},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,390},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,390},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{316,390},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{395,390},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,468},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{79,468},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,468},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,468},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10040</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{316,468},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10041</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{395,468},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10042</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,546},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10043</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{79,546},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10044</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,546},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10045</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,546},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10046</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{316,546},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10047</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{395,546},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10048</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,624},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10049</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{79,624},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10050</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,624},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10051</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,624},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10052</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{316,624},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10053</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{395,624},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10054</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,702},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10055</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{79,702},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10056</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,702},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10057</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,702},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10058</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{316,702},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10059</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{395,702},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10060</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,780},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10061</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{79,780},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10062</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,780},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10063</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,780},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>power_timer instance 10064</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,78}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{316,780},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>power_timer.png</string>
				<key>textureFileName</key>
				<string>power_timer</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
