<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shareit_animation instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,0},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,0},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,114},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,114},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,114},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,228},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,228},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,228},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,342},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,342},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,342},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,456},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,456},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,456},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,570},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,570},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,570},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,684},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,684},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,684},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,798},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,798},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,798},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,912},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,912},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,912},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1026},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,1026},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,1026},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1140},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,1140},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,1140},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1254},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,1254},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,1254},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1368},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,1368},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,1368},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shareit_animation instance 10039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{260,114}</string>
				<key>spriteSourceSize</key>
				<string>{260,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1482},{260,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>share.png</string>
				<key>textureFileName</key>
				<string>share</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
