<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_intro instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,0},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,0},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{549,0},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{732,0},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,183},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,183},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,183},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{549,183},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{732,183},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,366},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,366},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,366},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>web_intro instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,183}</string>
				<key>spriteSourceSize</key>
				<string>{183,183}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{549,366},{183,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>virpulis.png</string>
				<key>textureFileName</key>
				<string>virpulis</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
