<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>taimeris instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{89,0},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{178,0},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{267,0},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,0},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{534,0},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{623,0},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{712,0},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{801,0},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{890,0},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,89},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{89,89},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{178,89},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{267,89},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,89},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,89},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{534,89},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{623,89},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{712,89},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{801,89},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{890,89},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,178},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{89,178},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{178,178},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{267,178},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,178},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,178},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{534,178},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{623,178},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{712,178},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{801,178},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{890,178},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,267},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{89,267},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{178,267},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{267,267},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,267},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,267},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{534,267},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10040</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{623,267},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10041</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{712,267},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10042</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{801,267},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10043</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{890,267},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10044</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,356},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10045</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{89,356},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10046</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{178,356},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10047</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{267,356},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10048</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,356},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10049</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,356},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10050</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{534,356},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10051</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{623,356},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10052</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{712,356},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10053</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{801,356},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10054</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{890,356},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10055</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,445},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10056</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{89,445},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10057</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{178,445},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10058</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{267,445},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10059</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,445},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10060</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,445},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10061</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{534,445},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10062</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{623,445},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10063</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{712,445},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>taimeris instance 10064</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{801,445},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>saveme_timer.png</string>
				<key>textureFileName</key>
				<string>saveme_timer</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
