<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Fataas stuck fuck instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{139,0},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{278,0},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,0},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{556,0},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{695,0},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{834,0},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,118},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{139,118},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{278,118},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,118},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{556,118},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{695,118},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{834,118},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,236},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{139,236},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{278,236},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,236},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{556,236},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{695,236},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{834,236},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,354},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{139,354},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{278,354},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,354},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{556,354},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{695,354},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{834,354},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,472},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{139,472},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{278,472},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,472},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{556,472},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{695,472},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Fataas stuck fuck instance 10034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,118}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,118}</string>
				<key>spriteSourceSize</key>
				<string>{139,118}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{834,472},{139,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>fatass_stuck.png</string>
				<key>textureFileName</key>
				<string>fatass_stuck</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
