<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tallass freedom instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{201,132}</string>
				<key>spriteSourceSize</key>
				<string>{201,132}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tallass freedom instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{201,132}</string>
				<key>spriteSourceSize</key>
				<string>{201,132}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{201,0},{201,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tallass freedom instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{201,132}</string>
				<key>spriteSourceSize</key>
				<string>{201,132}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,132},{201,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tallass freedom instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{201,132}</string>
				<key>spriteSourceSize</key>
				<string>{201,132}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{201,132},{201,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tallass freedom instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{201,132}</string>
				<key>spriteSourceSize</key>
				<string>{201,132}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,264},{201,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tallass freedom instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{201,132}</string>
				<key>spriteSourceSize</key>
				<string>{201,132}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{201,264},{201,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tallass freedom instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{201,132}</string>
				<key>spriteSourceSize</key>
				<string>{201,132}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,396},{201,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tallass freedom instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{201,132}</string>
				<key>spriteSourceSize</key>
				<string>{201,132}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{201,396},{201,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tallass freedom instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{201,132}</string>
				<key>spriteSourceSize</key>
				<string>{201,132}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,528},{201,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tallass freedom instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{201,132}</string>
				<key>spriteSourceSize</key>
				<string>{201,132}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{201,528},{201,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tallass freedom instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{201,132}</string>
				<key>spriteSourceSize</key>
				<string>{201,132}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,660},{201,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>tallass_free.png</string>
				<key>textureFileName</key>
				<string>tallass_free</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
