<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>saknes_NEW instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{209,0},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{418,0},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{627,0},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,130},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{209,130},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{418,130},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{627,130},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,260},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{209,260},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{418,260},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{627,260},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,390},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{209,390},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{418,390},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>saknes_NEW instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,130}</string>
				<key>spriteSourceSize</key>
				<string>{209,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{627,390},{209,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>trap_sticky_grow.png</string>
				<key>textureFileName</key>
				<string>trap_sticky_grow</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
