<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_intro0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{136,137}}</string>
				<key>offset</key>
				<string>{-27,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,46},{136,137}}</string>
				<key>sourceSize</key>
				<string>{136,137}</string>
			</dict>
			<key>web_intro0001</key>
			<dict>
				<key>frame</key>
				<string>{{136,0},{140,140}}</string>
				<key>offset</key>
				<string>{-24,-20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,43},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>web_intro0002</key>
			<dict>
				<key>frame</key>
				<string>{{276,0},{143,144}}</string>
				<key>offset</key>
				<string>{-22,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,39},{143,144}}</string>
				<key>sourceSize</key>
				<string>{143,144}</string>
			</dict>
			<key>web_intro0003</key>
			<dict>
				<key>frame</key>
				<string>{{419,0},{147,148}}</string>
				<key>offset</key>
				<string>{-20,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,35},{147,148}}</string>
				<key>sourceSize</key>
				<string>{147,148}</string>
			</dict>
			<key>web_intro0004</key>
			<dict>
				<key>frame</key>
				<string>{{566,0},{151,151}}</string>
				<key>offset</key>
				<string>{-17,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,32},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>web_intro0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{154,155}}</string>
				<key>offset</key>
				<string>{-15,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,28},{154,155}}</string>
				<key>sourceSize</key>
				<string>{154,155}</string>
			</dict>
			<key>web_intro0006</key>
			<dict>
				<key>frame</key>
				<string>{{154,151},{158,158}}</string>
				<key>offset</key>
				<string>{-13,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,25},{158,158}}</string>
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>web_intro0007</key>
			<dict>
				<key>frame</key>
				<string>{{312,151},{162,162}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,21},{162,162}}</string>
				<key>sourceSize</key>
				<string>{162,162}</string>
			</dict>
			<key>web_intro0008</key>
			<dict>
				<key>frame</key>
				<string>{{474,151},{166,166}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,17},{166,166}}</string>
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>web_intro0009</key>
			<dict>
				<key>frame</key>
				<string>{{640,151},{169,169}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,14},{169,169}}</string>
				<key>sourceSize</key>
				<string>{169,169}</string>
			</dict>
			<key>web_intro0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{172,173}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,10},{172,173}}</string>
				<key>sourceSize</key>
				<string>{172,173}</string>
			</dict>
			<key>web_intro0011</key>
			<dict>
				<key>frame</key>
				<string>{{172,320},{175,176}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,7},{175,176}}</string>
				<key>sourceSize</key>
				<string>{175,176}</string>
			</dict>
			<key>web_intro0012</key>
			<dict>
				<key>frame</key>
				<string>{{347,320},{179,179}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{179,179}}</string>
				<key>sourceSize</key>
				<string>{179,179}</string>
			</dict>
			<key>web_intro0013</key>
			<dict>
				<key>frame</key>
				<string>{{526,320},{182,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,183}}</string>
				<key>sourceSize</key>
				<string>{182,183}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>web_intro.png</string>
			<key>size</key>
			<string>{820,505}</string>
			<key>textureFileName</key>
			<string>web_intro.png</string>
		</dict>
	</dict>
</plist>
