<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>trosse instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{34,0},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{68,0},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{102,0},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,0},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{170,0},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{204,0},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,75},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{34,75},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{68,75},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{102,75},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,75},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{170,75},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{204,75},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>trosse instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,75}</string>
				<key>spriteSourceSize</key>
				<string>{34,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{34,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>siksna.png</string>
				<key>textureFileName</key>
				<string>siksna</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
