<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kaats_anim instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,0},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,0},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,0},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,0},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,72},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,72},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,72},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,72},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,72},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,72},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,144},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,144},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,144},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,144},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,144},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,144},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,216},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,216},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,216},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,216},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,216},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,216},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,288},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,288},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,288},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,288},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,288},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,288},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,360},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,360},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,360},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,360},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,360},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{142,360},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,432},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kaats_anim instance 10037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,72}</string>
				<key>spriteSourceSize</key>
				<string>{71,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,432},{71,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>crystalweed_augshana.png</string>
				<key>textureFileName</key>
				<string>crystalweed_augshana</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
