<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Troll_sexy_victory_dance instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{117,0},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{234,0},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{351,0},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,181},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{117,181},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{234,181},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{351,181},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,362},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{117,362},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{234,362},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{351,362},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,543},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{117,543},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{234,543},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{351,543},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,724},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{117,724},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{234,724},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Troll_sexy_victory_dance instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,181}</string>
				<key>spriteSourceSize</key>
				<string>{117,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{351,724},{117,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>troll_victory_dance.png</string>
				<key>textureFileName</key>
				<string>troll_victory_dance</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
