<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Troll walk diag down0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{102,138}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,3},{102,138}}</string>
				<key>sourceSize</key>
				<string>{102,138}</string>
			</dict>
			<key>Troll walk diag down0001</key>
			<dict>
				<key>frame</key>
				<string>{{102,0},{103,138}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{103,138}}</string>
				<key>sourceSize</key>
				<string>{103,138}</string>
			</dict>
			<key>Troll walk diag down0002</key>
			<dict>
				<key>frame</key>
				<string>{{205,0},{102,139}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,2},{102,139}}</string>
				<key>sourceSize</key>
				<string>{102,139}</string>
			</dict>
			<key>Troll walk diag down0003</key>
			<dict>
				<key>frame</key>
				<string>{{307,0},{103,140}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{103,140}}</string>
				<key>sourceSize</key>
				<string>{103,140}</string>
			</dict>
			<key>Troll walk diag down0004</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{103,140}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{103,140}}</string>
				<key>sourceSize</key>
				<string>{103,140}</string>
			</dict>
			<key>Troll walk diag down0005</key>
			<dict>
				<key>frame</key>
				<string>{{513,0},{104,141}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{104,141}}</string>
				<key>sourceSize</key>
				<string>{104,141}</string>
			</dict>
			<key>Troll walk diag down0006</key>
			<dict>
				<key>frame</key>
				<string>{{617,0},{104,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{104,141}}</string>
				<key>sourceSize</key>
				<string>{104,141}</string>
			</dict>
			<key>Troll walk diag down0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{105,140}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{105,140}}</string>
				<key>sourceSize</key>
				<string>{105,140}</string>
			</dict>
			<key>Troll walk diag down0008</key>
			<dict>
				<key>frame</key>
				<string>{{105,141},{106,140}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{106,140}}</string>
				<key>sourceSize</key>
				<string>{106,140}</string>
			</dict>
			<key>Troll walk diag down0009</key>
			<dict>
				<key>frame</key>
				<string>{{211,141},{107,139}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{107,139}}</string>
				<key>sourceSize</key>
				<string>{107,139}</string>
			</dict>
			<key>Troll walk diag down0010</key>
			<dict>
				<key>frame</key>
				<string>{{318,141},{107,138}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{107,138}}</string>
				<key>sourceSize</key>
				<string>{107,138}</string>
			</dict>
			<key>Troll walk diag down0011</key>
			<dict>
				<key>frame</key>
				<string>{{425,141},{109,137}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,4},{109,137}}</string>
				<key>sourceSize</key>
				<string>{109,137}</string>
			</dict>
			<key>Troll walk diag down0012</key>
			<dict>
				<key>frame</key>
				<string>{{534,141},{110,137}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{110,137}}</string>
				<key>sourceSize</key>
				<string>{110,137}</string>
			</dict>
			<key>Troll walk diag down0013</key>
			<dict>
				<key>frame</key>
				<string>{{644,141},{109,136}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,5},{109,136}}</string>
				<key>sourceSize</key>
				<string>{109,136}</string>
			</dict>
			<key>Troll walk diag down0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,281},{109,138}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{109,138}}</string>
				<key>sourceSize</key>
				<string>{109,138}</string>
			</dict>
			<key>Troll walk diag down0015</key>
			<dict>
				<key>frame</key>
				<string>{{109,281},{108,138}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{108,138}}</string>
				<key>sourceSize</key>
				<string>{108,138}</string>
			</dict>
			<key>Troll walk diag down0016</key>
			<dict>
				<key>frame</key>
				<string>{{217,281},{107,139}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{107,139}}</string>
				<key>sourceSize</key>
				<string>{107,139}</string>
			</dict>
			<key>Troll walk diag down0017</key>
			<dict>
				<key>frame</key>
				<string>{{324,281},{107,139}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{107,139}}</string>
				<key>sourceSize</key>
				<string>{107,139}</string>
			</dict>
			<key>Troll walk diag down0018</key>
			<dict>
				<key>frame</key>
				<string>{{431,281},{106,140}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{106,140}}</string>
				<key>sourceSize</key>
				<string>{106,140}</string>
			</dict>
			<key>Troll walk diag down0019</key>
			<dict>
				<key>frame</key>
				<string>{{537,281},{106,140}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{106,140}}</string>
				<key>sourceSize</key>
				<string>{106,140}</string>
			</dict>
			<key>Troll walk diag down0020</key>
			<dict>
				<key>frame</key>
				<string>{{643,281},{105,140}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{105,140}}</string>
				<key>sourceSize</key>
				<string>{105,140}</string>
			</dict>
			<key>Troll walk diag down0021</key>
			<dict>
				<key>frame</key>
				<string>{{0,421},{105,139}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{105,139}}</string>
				<key>sourceSize</key>
				<string>{105,139}</string>
			</dict>
			<key>Troll walk diag down0022</key>
			<dict>
				<key>frame</key>
				<string>{{105,421},{104,139}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{104,139}}</string>
				<key>sourceSize</key>
				<string>{104,139}</string>
			</dict>
			<key>Troll walk diag down0023</key>
			<dict>
				<key>frame</key>
				<string>{{209,421},{104,139}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{104,139}}</string>
				<key>sourceSize</key>
				<string>{104,139}</string>
			</dict>
			<key>Troll walk diag down0024</key>
			<dict>
				<key>frame</key>
				<string>{{313,421},{102,139}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,2},{102,139}}</string>
				<key>sourceSize</key>
				<string>{102,139}</string>
			</dict>
			<key>Troll walk diag down0025</key>
			<dict>
				<key>frame</key>
				<string>{{415,421},{102,138}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,3},{102,138}}</string>
				<key>sourceSize</key>
				<string>{102,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>troll_diagonal_down.png</string>
			<key>size</key>
			<string>{755,560}</string>
			<key>textureFileName</key>
			<string>troll_diagonal_down.png</string>
		</dict>
	</dict>
</plist>
