<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Trolli walk back up0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{96,136}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,4},{96,136}}</string>
				<key>sourceSize</key>
				<string>{96,136}</string>
			</dict>
			<key>Trolli walk back up0001</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{97,137}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,3},{97,137}}</string>
				<key>sourceSize</key>
				<string>{97,137}</string>
			</dict>
			<key>Trolli walk back up0002</key>
			<dict>
				<key>frame</key>
				<string>{{193,0},{99,138}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,2},{99,138}}</string>
				<key>sourceSize</key>
				<string>{99,138}</string>
			</dict>
			<key>Trolli walk back up0003</key>
			<dict>
				<key>frame</key>
				<string>{{292,0},{101,137}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{101,137}}</string>
				<key>sourceSize</key>
				<string>{101,137}</string>
			</dict>
			<key>Trolli walk back up0004</key>
			<dict>
				<key>frame</key>
				<string>{{393,0},{102,138}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{102,138}}</string>
				<key>sourceSize</key>
				<string>{102,138}</string>
			</dict>
			<key>Trolli walk back up0005</key>
			<dict>
				<key>frame</key>
				<string>{{495,0},{104,137}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{104,137}}</string>
				<key>sourceSize</key>
				<string>{104,137}</string>
			</dict>
			<key>Trolli walk back up0006</key>
			<dict>
				<key>frame</key>
				<string>{{599,0},{105,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{105,138}}</string>
				<key>sourceSize</key>
				<string>{105,138}</string>
			</dict>
			<key>Trolli walk back up0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{106,137}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{106,137}}</string>
				<key>sourceSize</key>
				<string>{106,137}</string>
			</dict>
			<key>Trolli walk back up0008</key>
			<dict>
				<key>frame</key>
				<string>{{106,138},{106,138}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{106,138}}</string>
				<key>sourceSize</key>
				<string>{106,138}</string>
			</dict>
			<key>Trolli walk back up0009</key>
			<dict>
				<key>frame</key>
				<string>{{212,138},{107,137}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{107,137}}</string>
				<key>sourceSize</key>
				<string>{107,137}</string>
			</dict>
			<key>Trolli walk back up0010</key>
			<dict>
				<key>frame</key>
				<string>{{319,138},{107,138}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{107,138}}</string>
				<key>sourceSize</key>
				<string>{107,138}</string>
			</dict>
			<key>Trolli walk back up0011</key>
			<dict>
				<key>frame</key>
				<string>{{426,138},{107,137}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{107,137}}</string>
				<key>sourceSize</key>
				<string>{107,137}</string>
			</dict>
			<key>Trolli walk back up0012</key>
			<dict>
				<key>frame</key>
				<string>{{533,138},{108,136}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{108,136}}</string>
				<key>sourceSize</key>
				<string>{108,136}</string>
			</dict>
			<key>Trolli walk back up0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,276},{107,137}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{107,137}}</string>
				<key>sourceSize</key>
				<string>{107,137}</string>
			</dict>
			<key>Trolli walk back up0014</key>
			<dict>
				<key>frame</key>
				<string>{{107,276},{107,138}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{107,138}}</string>
				<key>sourceSize</key>
				<string>{107,138}</string>
			</dict>
			<key>Trolli walk back up0015</key>
			<dict>
				<key>frame</key>
				<string>{{214,276},{106,137}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{106,137}}</string>
				<key>sourceSize</key>
				<string>{106,137}</string>
			</dict>
			<key>Trolli walk back up0016</key>
			<dict>
				<key>frame</key>
				<string>{{320,276},{106,138}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{106,138}}</string>
				<key>sourceSize</key>
				<string>{106,138}</string>
			</dict>
			<key>Trolli walk back up0017</key>
			<dict>
				<key>frame</key>
				<string>{{426,276},{105,137}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{105,137}}</string>
				<key>sourceSize</key>
				<string>{105,137}</string>
			</dict>
			<key>Trolli walk back up0018</key>
			<dict>
				<key>frame</key>
				<string>{{531,276},{104,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{104,138}}</string>
				<key>sourceSize</key>
				<string>{104,138}</string>
			</dict>
			<key>Trolli walk back up0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,414},{103,137}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{103,137}}</string>
				<key>sourceSize</key>
				<string>{103,137}</string>
			</dict>
			<key>Trolli walk back up0020</key>
			<dict>
				<key>frame</key>
				<string>{{103,414},{102,137}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,3},{102,137}}</string>
				<key>sourceSize</key>
				<string>{102,137}</string>
			</dict>
			<key>Trolli walk back up0021</key>
			<dict>
				<key>frame</key>
				<string>{{205,414},{100,136}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,4},{100,136}}</string>
				<key>sourceSize</key>
				<string>{100,136}</string>
			</dict>
			<key>Trolli walk back up0022</key>
			<dict>
				<key>frame</key>
				<string>{{305,414},{99,136}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{99,136}}</string>
				<key>sourceSize</key>
				<string>{99,136}</string>
			</dict>
			<key>Trolli walk back up0023</key>
			<dict>
				<key>frame</key>
				<string>{{404,414},{98,135}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,5},{98,135}}</string>
				<key>sourceSize</key>
				<string>{98,135}</string>
			</dict>
			<key>Trolli walk back up0024</key>
			<dict>
				<key>frame</key>
				<string>{{502,414},{97,135}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,5},{97,135}}</string>
				<key>sourceSize</key>
				<string>{97,135}</string>
			</dict>
			<key>Trolli walk back up0025</key>
			<dict>
				<key>frame</key>
				<string>{{599,414},{96,134}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,6},{96,134}}</string>
				<key>sourceSize</key>
				<string>{96,134}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>troll_up_back.png</string>
			<key>size</key>
			<string>{730,555}</string>
			<key>textureFileName</key>
			<string>troll_up_back.png</string>
		</dict>
	</dict>
</plist>
