<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Troll walk front0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{105,137}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,8},{105,137}}</string>
				<key>sourceSize</key>
				<string>{105,137}</string>
			</dict>
			<key>Troll walk front0001</key>
			<dict>
				<key>frame</key>
				<string>{{105,0},{105,139}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{105,139}}</string>
				<key>sourceSize</key>
				<string>{105,139}</string>
			</dict>
			<key>Troll walk front0002</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{106,140}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,5},{106,140}}</string>
				<key>sourceSize</key>
				<string>{106,140}</string>
			</dict>
			<key>Troll walk front0003</key>
			<dict>
				<key>frame</key>
				<string>{{316,0},{106,142}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{106,142}}</string>
				<key>sourceSize</key>
				<string>{106,142}</string>
			</dict>
			<key>Troll walk front0004</key>
			<dict>
				<key>frame</key>
				<string>{{422,0},{106,142}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{106,142}}</string>
				<key>sourceSize</key>
				<string>{106,142}</string>
			</dict>
			<key>Troll walk front0005</key>
			<dict>
				<key>frame</key>
				<string>{{528,0},{107,144}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{107,144}</string>
			</dict>
			<key>Troll walk front0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{107,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,145}}</string>
				<key>sourceSize</key>
				<string>{107,145}</string>
			</dict>
			<key>Troll walk front0007</key>
			<dict>
				<key>frame</key>
				<string>{{107,144},{107,144}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{107,144}</string>
			</dict>
			<key>Troll walk front0008</key>
			<dict>
				<key>frame</key>
				<string>{{214,144},{106,142}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{106,142}}</string>
				<key>sourceSize</key>
				<string>{106,142}</string>
			</dict>
			<key>Troll walk front0009</key>
			<dict>
				<key>frame</key>
				<string>{{320,144},{105,142}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{105,142}}</string>
				<key>sourceSize</key>
				<string>{105,142}</string>
			</dict>
			<key>Troll walk front0010</key>
			<dict>
				<key>frame</key>
				<string>{{425,144},{105,140}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,5},{105,140}}</string>
				<key>sourceSize</key>
				<string>{105,140}</string>
			</dict>
			<key>Troll walk front0011</key>
			<dict>
				<key>frame</key>
				<string>{{530,144},{104,139}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,6},{104,139}}</string>
				<key>sourceSize</key>
				<string>{104,139}</string>
			</dict>
			<key>Troll walk front0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,289},{103,137}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{103,137}}</string>
				<key>sourceSize</key>
				<string>{103,137}</string>
			</dict>
			<key>Troll walk front0013</key>
			<dict>
				<key>frame</key>
				<string>{{103,289},{104,139}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,6},{104,139}}</string>
				<key>sourceSize</key>
				<string>{104,139}</string>
			</dict>
			<key>Troll walk front0014</key>
			<dict>
				<key>frame</key>
				<string>{{207,289},{104,140}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,5},{104,140}}</string>
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>Troll walk front0015</key>
			<dict>
				<key>frame</key>
				<string>{{311,289},{104,141}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{104,141}}</string>
				<key>sourceSize</key>
				<string>{104,141}</string>
			</dict>
			<key>Troll walk front0016</key>
			<dict>
				<key>frame</key>
				<string>{{415,289},{104,142}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{104,142}}</string>
				<key>sourceSize</key>
				<string>{104,142}</string>
			</dict>
			<key>Troll walk front0017</key>
			<dict>
				<key>frame</key>
				<string>{{519,289},{105,144}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{105,144}}</string>
				<key>sourceSize</key>
				<string>{105,144}</string>
			</dict>
			<key>Troll walk front0018</key>
			<dict>
				<key>frame</key>
				<string>{{624,289},{105,144}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{105,144}}</string>
				<key>sourceSize</key>
				<string>{105,144}</string>
			</dict>
			<key>Troll walk front0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,433},{105,145}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{105,145}}</string>
				<key>sourceSize</key>
				<string>{105,145}</string>
			</dict>
			<key>Troll walk front0020</key>
			<dict>
				<key>frame</key>
				<string>{{105,433},{105,144}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{105,144}}</string>
				<key>sourceSize</key>
				<string>{105,144}</string>
			</dict>
			<key>Troll walk front0021</key>
			<dict>
				<key>frame</key>
				<string>{{210,433},{105,142}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{105,142}}</string>
				<key>sourceSize</key>
				<string>{105,142}</string>
			</dict>
			<key>Troll walk front0022</key>
			<dict>
				<key>frame</key>
				<string>{{315,433},{105,142}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{105,142}}</string>
				<key>sourceSize</key>
				<string>{105,142}</string>
			</dict>
			<key>Troll walk front0023</key>
			<dict>
				<key>frame</key>
				<string>{{420,433},{105,140}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,5},{105,140}}</string>
				<key>sourceSize</key>
				<string>{105,140}</string>
			</dict>
			<key>Troll walk front0024</key>
			<dict>
				<key>frame</key>
				<string>{{525,433},{105,139}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{105,139}}</string>
				<key>sourceSize</key>
				<string>{105,139}</string>
			</dict>
			<key>Troll walk front0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{105,137}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,8},{105,137}}</string>
				<key>sourceSize</key>
				<string>{105,137}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>troll_down_front.png</string>
			<key>size</key>
			<string>{730,580}</string>
			<key>textureFileName</key>
			<string>troll_down_front.png</string>
		</dict>
	</dict>
</plist>
