<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Troll walk back diag up0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{94,134}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{94,134}}</string>
				<key>sourceSize</key>
				<string>{94,134}</string>
			</dict>
			<key>Troll walk back diag up0001</key>
			<dict>
				<key>frame</key>
				<string>{{94,0},{94,135}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{94,135}}</string>
				<key>sourceSize</key>
				<string>{94,135}</string>
			</dict>
			<key>Troll walk back diag up0002</key>
			<dict>
				<key>frame</key>
				<string>{{188,0},{93,135}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{93,135}}</string>
				<key>sourceSize</key>
				<string>{93,135}</string>
			</dict>
			<key>Troll walk back diag up0003</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{94,135}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{94,135}}</string>
				<key>sourceSize</key>
				<string>{94,135}</string>
			</dict>
			<key>Troll walk back diag up0004</key>
			<dict>
				<key>frame</key>
				<string>{{375,0},{94,135}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{94,135}}</string>
				<key>sourceSize</key>
				<string>{94,135}</string>
			</dict>
			<key>Troll walk back diag up0005</key>
			<dict>
				<key>frame</key>
				<string>{{469,0},{94,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{94,135}}</string>
				<key>sourceSize</key>
				<string>{94,135}</string>
			</dict>
			<key>Troll walk back diag up0006</key>
			<dict>
				<key>frame</key>
				<string>{{563,0},{94,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{94,135}}</string>
				<key>sourceSize</key>
				<string>{94,135}</string>
			</dict>
			<key>Troll walk back diag up0007</key>
			<dict>
				<key>frame</key>
				<string>{{657,0},{94,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{94,135}}</string>
				<key>sourceSize</key>
				<string>{94,135}</string>
			</dict>
			<key>Troll walk back diag up0008</key>
			<dict>
				<key>frame</key>
				<string>{{751,0},{94,134}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{94,134}}</string>
				<key>sourceSize</key>
				<string>{94,134}</string>
			</dict>
			<key>Troll walk back diag up0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{94,134}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{94,134}}</string>
				<key>sourceSize</key>
				<string>{94,134}</string>
			</dict>
			<key>Troll walk back diag up0010</key>
			<dict>
				<key>frame</key>
				<string>{{94,135},{93,134}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{93,134}}</string>
				<key>sourceSize</key>
				<string>{93,134}</string>
			</dict>
			<key>Troll walk back diag up0011</key>
			<dict>
				<key>frame</key>
				<string>{{187,135},{94,133}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{94,133}}</string>
				<key>sourceSize</key>
				<string>{94,133}</string>
			</dict>
			<key>Troll walk back diag up0012</key>
			<dict>
				<key>frame</key>
				<string>{{281,135},{94,132}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{94,132}}</string>
				<key>sourceSize</key>
				<string>{94,132}</string>
			</dict>
			<key>Troll walk back diag up0013</key>
			<dict>
				<key>frame</key>
				<string>{{375,135},{94,133}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{94,133}}</string>
				<key>sourceSize</key>
				<string>{94,133}</string>
			</dict>
			<key>Troll walk back diag up0014</key>
			<dict>
				<key>frame</key>
				<string>{{469,135},{93,134}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{93,134}}</string>
				<key>sourceSize</key>
				<string>{93,134}</string>
			</dict>
			<key>Troll walk back diag up0015</key>
			<dict>
				<key>frame</key>
				<string>{{562,135},{94,133}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{94,133}}</string>
				<key>sourceSize</key>
				<string>{94,133}</string>
			</dict>
			<key>Troll walk back diag up0016</key>
			<dict>
				<key>frame</key>
				<string>{{656,135},{94,134}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{94,134}}</string>
				<key>sourceSize</key>
				<string>{94,134}</string>
			</dict>
			<key>Troll walk back diag up0017</key>
			<dict>
				<key>frame</key>
				<string>{{750,135},{94,134}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{94,134}}</string>
				<key>sourceSize</key>
				<string>{94,134}</string>
			</dict>
			<key>Troll walk back diag up0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,269},{94,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{94,134}}</string>
				<key>sourceSize</key>
				<string>{94,134}</string>
			</dict>
			<key>Troll walk back diag up0019</key>
			<dict>
				<key>frame</key>
				<string>{{94,269},{94,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{94,134}}</string>
				<key>sourceSize</key>
				<string>{94,134}</string>
			</dict>
			<key>Troll walk back diag up0020</key>
			<dict>
				<key>frame</key>
				<string>{{188,269},{94,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{94,135}}</string>
				<key>sourceSize</key>
				<string>{94,135}</string>
			</dict>
			<key>Troll walk back diag up0021</key>
			<dict>
				<key>frame</key>
				<string>{{282,269},{93,135}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{93,135}}</string>
				<key>sourceSize</key>
				<string>{93,135}</string>
			</dict>
			<key>Troll walk back diag up0022</key>
			<dict>
				<key>frame</key>
				<string>{{375,269},{94,134}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{94,134}}</string>
				<key>sourceSize</key>
				<string>{94,134}</string>
			</dict>
			<key>Troll walk back diag up0023</key>
			<dict>
				<key>frame</key>
				<string>{{469,269},{94,134}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{94,134}}</string>
				<key>sourceSize</key>
				<string>{94,134}</string>
			</dict>
			<key>Troll walk back diag up0024</key>
			<dict>
				<key>frame</key>
				<string>{{563,269},{94,135}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{94,135}}</string>
				<key>sourceSize</key>
				<string>{94,135}</string>
			</dict>
			<key>Troll walk back diag up0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{94,134}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{94,134}}</string>
				<key>sourceSize</key>
				<string>{94,134}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>troll_diagonal_up.png</string>
			<key>size</key>
			<string>{850,405}</string>
			<key>textureFileName</key>
			<string>troll_diagonal_up.png</string>
		</dict>
	</dict>
</plist>
