<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Troll walk profile0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{102,130}}</string>
				<key>offset</key>
				<string>{-11,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,4},{102,130}}</string>
				<key>sourceSize</key>
				<string>{102,130}</string>
			</dict>
			<key>Troll walk profile0001</key>
			<dict>
				<key>frame</key>
				<string>{{102,0},{103,131}}</string>
				<key>offset</key>
				<string>{-10,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,3},{103,131}}</string>
				<key>sourceSize</key>
				<string>{103,131}</string>
			</dict>
			<key>Troll walk profile0002</key>
			<dict>
				<key>frame</key>
				<string>{{205,0},{103,132}}</string>
				<key>offset</key>
				<string>{-9,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,2},{103,132}}</string>
				<key>sourceSize</key>
				<string>{103,132}</string>
			</dict>
			<key>Troll walk profile0003</key>
			<dict>
				<key>frame</key>
				<string>{{308,0},{104,132}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,2},{104,132}}</string>
				<key>sourceSize</key>
				<string>{104,132}</string>
			</dict>
			<key>Troll walk profile0004</key>
			<dict>
				<key>frame</key>
				<string>{{412,0},{105,133}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,1},{105,133}}</string>
				<key>sourceSize</key>
				<string>{105,133}</string>
			</dict>
			<key>Troll walk profile0005</key>
			<dict>
				<key>frame</key>
				<string>{{517,0},{105,133}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,1},{105,133}}</string>
				<key>sourceSize</key>
				<string>{105,133}</string>
			</dict>
			<key>Troll walk profile0006</key>
			<dict>
				<key>frame</key>
				<string>{{622,0},{105,134}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{105,134}}</string>
				<key>sourceSize</key>
				<string>{105,134}</string>
			</dict>
			<key>Troll walk profile0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{106,133}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{106,133}}</string>
				<key>sourceSize</key>
				<string>{106,133}</string>
			</dict>
			<key>Troll walk profile0008</key>
			<dict>
				<key>frame</key>
				<string>{{106,134},{108,133}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{108,133}}</string>
				<key>sourceSize</key>
				<string>{108,133}</string>
			</dict>
			<key>Troll walk profile0009</key>
			<dict>
				<key>frame</key>
				<string>{{214,134},{109,132}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{109,132}}</string>
				<key>sourceSize</key>
				<string>{109,132}</string>
			</dict>
			<key>Troll walk profile0010</key>
			<dict>
				<key>frame</key>
				<string>{{323,134},{110,132}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{110,132}}</string>
				<key>sourceSize</key>
				<string>{110,132}</string>
			</dict>
			<key>Troll walk profile0011</key>
			<dict>
				<key>frame</key>
				<string>{{433,134},{112,131}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{112,131}}</string>
				<key>sourceSize</key>
				<string>{112,131}</string>
			</dict>
			<key>Troll walk profile0012</key>
			<dict>
				<key>frame</key>
				<string>{{545,134},{113,130}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{113,130}}</string>
				<key>sourceSize</key>
				<string>{113,130}</string>
			</dict>
			<key>Troll walk profile0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,267},{112,131}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{112,131}}</string>
				<key>sourceSize</key>
				<string>{112,131}</string>
			</dict>
			<key>Troll walk profile0014</key>
			<dict>
				<key>frame</key>
				<string>{{112,267},{110,132}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{110,132}}</string>
				<key>sourceSize</key>
				<string>{110,132}</string>
			</dict>
			<key>Troll walk profile0015</key>
			<dict>
				<key>frame</key>
				<string>{{222,267},{110,132}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{110,132}}</string>
				<key>sourceSize</key>
				<string>{110,132}</string>
			</dict>
			<key>Troll walk profile0016</key>
			<dict>
				<key>frame</key>
				<string>{{332,267},{109,133}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{109,133}}</string>
				<key>sourceSize</key>
				<string>{109,133}</string>
			</dict>
			<key>Troll walk profile0017</key>
			<dict>
				<key>frame</key>
				<string>{{441,267},{107,133}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{107,133}}</string>
				<key>sourceSize</key>
				<string>{107,133}</string>
			</dict>
			<key>Troll walk profile0018</key>
			<dict>
				<key>frame</key>
				<string>{{548,267},{106,134}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{106,134}}</string>
				<key>sourceSize</key>
				<string>{106,134}</string>
			</dict>
			<key>Troll walk profile0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,401},{105,133}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,1},{105,133}}</string>
				<key>sourceSize</key>
				<string>{105,133}</string>
			</dict>
			<key>Troll walk profile0020</key>
			<dict>
				<key>frame</key>
				<string>{{105,401},{105,133}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,1},{105,133}}</string>
				<key>sourceSize</key>
				<string>{105,133}</string>
			</dict>
			<key>Troll walk profile0021</key>
			<dict>
				<key>frame</key>
				<string>{{210,401},{104,132}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,2},{104,132}}</string>
				<key>sourceSize</key>
				<string>{104,132}</string>
			</dict>
			<key>Troll walk profile0022</key>
			<dict>
				<key>frame</key>
				<string>{{314,401},{103,132}}</string>
				<key>offset</key>
				<string>{-9,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,2},{103,132}}</string>
				<key>sourceSize</key>
				<string>{103,132}</string>
			</dict>
			<key>Troll walk profile0023</key>
			<dict>
				<key>frame</key>
				<string>{{417,401},{103,131}}</string>
				<key>offset</key>
				<string>{-9,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,3},{103,131}}</string>
				<key>sourceSize</key>
				<string>{103,131}</string>
			</dict>
			<key>Troll walk profile0024</key>
			<dict>
				<key>frame</key>
				<string>{{520,401},{103,131}}</string>
				<key>offset</key>
				<string>{-10,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,3},{103,131}}</string>
				<key>sourceSize</key>
				<string>{103,131}</string>
			</dict>
			<key>Troll walk profile0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{102,130}}</string>
				<key>offset</key>
				<string>{-11,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,4},{102,130}}</string>
				<key>sourceSize</key>
				<string>{102,130}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>troll_profile.png</string>
			<key>size</key>
			<string>{730,540}</string>
			<key>textureFileName</key>
			<string>troll_profile.png</string>
		</dict>
	</dict>
</plist>
