<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bee_diagonal_down instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,178}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,178}</string>
				<key>spriteSourceSize</key>
				<string>{115,178}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{115,178}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,178}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,178}</string>
				<key>spriteSourceSize</key>
				<string>{115,178}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{115,0},{115,178}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,178}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,178}</string>
				<key>spriteSourceSize</key>
				<string>{115,178}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,178},{115,178}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,178}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,178}</string>
				<key>spriteSourceSize</key>
				<string>{115,178}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{115,178},{115,178}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,178}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,178}</string>
				<key>spriteSourceSize</key>
				<string>{115,178}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,356},{115,178}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,178}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,178}</string>
				<key>spriteSourceSize</key>
				<string>{115,178}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{115,356},{115,178}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,178}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,178}</string>
				<key>spriteSourceSize</key>
				<string>{115,178}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,534},{115,178}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,178}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,178}</string>
				<key>spriteSourceSize</key>
				<string>{115,178}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{115,534},{115,178}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,178}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,178}</string>
				<key>spriteSourceSize</key>
				<string>{115,178}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,712},{115,178}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,178}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,178}</string>
				<key>spriteSourceSize</key>
				<string>{115,178}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{115,712},{115,178}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>bee_fly_down.png</string>
				<key>textureFileName</key>
				<string>bee_fly_down</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
