<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bee_diagonal_down_shoot instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{115,0},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{230,0},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{345,0},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{460,0},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{575,0},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{690,0},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{805,0},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,186},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{115,186},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{230,186},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{345,186},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{460,186},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{575,186},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{690,186},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{805,186},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,372},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{115,372},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{230,372},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{345,372},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{460,372},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{575,372},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{690,372},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{805,372},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bee_diagonal_down_shoot instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,186}</string>
				<key>spriteSourceSize</key>
				<string>{115,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,558},{115,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>bee_shoot_down.png</string>
				<key>textureFileName</key>
				<string>bee_shoot_down</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
