<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mission_1</key>
	<dict>
		<key>BlueCave</key>
		<dict>
			<key>position_x</key>
			<integer>480</integer>
			<key>position_y</key>
			<integer>360</integer>
		</dict>
		<key>DSP</key>
		<integer>3</integer>
		<key>DwarfSpawnPoints</key>
		<dict>
			<key>Dwarf_1</key>
			<integer>3</integer>
			<key>Dwarf_2</key>
			<integer>7</integer>
		</dict>
		<key>Enemy_Paths</key>
		<dict>
			<key>Troll_1</key>
			<dict>
				<key>PatrolCircle</key>
				<integer>1</integer>
				<key>PatrolPoints</key>
				<dict/>
				<key>PatrolStartPoint</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>ID</key>
		<integer>1</integer>
		<key>MapVisualType</key>
		<integer>1</integer>
		<key>Map_DwarfCoun_Max</key>
		<integer>1</integer>
		<key>Map_DwarfCoun_Min</key>
		<integer>1</integer>
		<key>OrangeCave</key>
		<dict>
			<key>position_x</key>
			<integer>0</integer>
			<key>position_y</key>
			<integer>0</integer>
		</dict>
		<key>Star_1</key>
		<integer>3</integer>
		<key>Star_2</key>
		<integer>6</integer>
		<key>Star_3</key>
		<integer>10</integer>
		<key>StartDwarfCount</key>
		<integer>1</integer>
		<key>Story_Show</key>
		<integer>0</integer>
		<key>Task_Type</key>
		<integer>1</integer>
	</dict>
	<key>Mission_2</key>
	<dict>
		<key>BlueCave</key>
		<dict>
			<key>position_x</key>
			<integer>100</integer>
			<key>position_y</key>
			<integer>100</integer>
		</dict>
		<key>DSP</key>
		<integer>3</integer>
		<key>DwarfSpawnPoints</key>
		<dict>
			<key>Dwarf_1</key>
			<integer>3</integer>
			<key>Dwarf_2</key>
			<integer>7</integer>
		</dict>
		<key>Enemy_Paths</key>
		<dict>
			<key>Troll_1</key>
			<dict>
				<key>PatrolCircle</key>
				<integer>-1</integer>
				<key>PatrolPoints</key>
				<dict>
					<key>Point_1</key>
					<string>100,150</string>
					<key>Point_2</key>
					<string>300,200</string>
					<key>Point_3</key>
					<string>400,300</string>
					<key>Point_4</key>
					<string>500,400</string>
				</dict>
				<key>PatrolStartPoint</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>MapVisualType</key>
		<integer>2</integer>
		<key>Map_DwarfCoun_Max</key>
		<integer>2</integer>
		<key>Map_DwarfCoun_Min</key>
		<integer>1</integer>
		<key>OrangeCave</key>
		<dict>
			<key>position_x</key>
			<integer>0</integer>
			<key>position_y</key>
			<integer>0</integer>
		</dict>
		<key>Star_1</key>
		<integer>3</integer>
		<key>Star_2</key>
		<integer>6</integer>
		<key>Star_3</key>
		<integer>10</integer>
		<key>StartDwarfCount</key>
		<integer>2</integer>
		<key>Story_Show</key>
		<integer>0</integer>
		<key>Task_Type</key>
		<integer>1</integer>
	</dict>
	<key>Mission_3</key>
	<dict>
		<key>BlueCave</key>
		<dict>
			<key>position_x</key>
			<integer>100</integer>
			<key>position_y</key>
			<integer>100</integer>
		</dict>
		<key>DSP</key>
		<integer>3</integer>
		<key>DwarfSpawnPoints</key>
		<dict>
			<key>Dwarf_1</key>
			<integer>3</integer>
			<key>Dwarf_2</key>
			<integer>7</integer>
		</dict>
		<key>Enemy_Paths</key>
		<dict>
			<key>Troll_1</key>
			<dict>
				<key>PatrolCircle</key>
				<integer>-1</integer>
				<key>PatrolPoints</key>
				<dict>
					<key>Point_1</key>
					<string>100,150</string>
					<key>Point_2</key>
					<string>300,200</string>
				</dict>
				<key>PatrolStartPoint</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>ID</key>
		<integer>3</integer>
		<key>MapVisualType</key>
		<integer>1</integer>
		<key>Map_DwarfCoun_Max</key>
		<integer>2</integer>
		<key>Map_DwarfCoun_Min</key>
		<integer>3</integer>
		<key>OrangeCave</key>
		<dict>
			<key>position_x</key>
			<integer>0</integer>
			<key>position_y</key>
			<integer>0</integer>
		</dict>
		<key>Star_1</key>
		<integer>3</integer>
		<key>Star_2</key>
		<integer>6</integer>
		<key>Star_3</key>
		<integer>10</integer>
		<key>StartDwarfCount</key>
		<integer>3</integer>
		<key>Story_Show</key>
		<integer>0</integer>
		<key>Task_Type</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
