<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>autumn_egle.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,114},{110,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,134}}</string>
                <key>sourceSize</key>
                <string>{112,138}</string>
            </dict>
            <key>autumn_garkoks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{67,165}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{67,165}}</string>
                <key>sourceSize</key>
                <string>{75,167}</string>
            </dict>
            <key>autumn_kruums.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,353},{94,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>autumn_resnkoks.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,218},{102,123}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{102,123}}</string>
                <key>sourceSize</key>
                <string>{120,135}</string>
            </dict>
            <key>spring_egle.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,65},{110,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,134}}</string>
                <key>sourceSize</key>
                <string>{112,138}</string>
            </dict>
            <key>spring_garkoks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,167}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,167}}</string>
                <key>sourceSize</key>
                <string>{75,167}</string>
            </dict>
            <key>spring_kruums.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,449},{86,60}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{86,60}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>spring_resnkoks.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,177},{114,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,131}}</string>
                <key>sourceSize</key>
                <string>{120,135}</string>
            </dict>
            <key>summer_egle.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{110,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,134}}</string>
                <key>sourceSize</key>
                <string>{112,138}</string>
            </dict>
            <key>summer_garkoks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{67,165}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{67,165}}</string>
                <key>sourceSize</key>
                <string>{75,167}</string>
            </dict>
            <key>summer_kruums.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,293},{94,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>summer_resnkoks.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,114},{102,123}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{102,123}}</string>
                <key>sourceSize</key>
                <string>{120,135}</string>
            </dict>
            <key>winter_egle.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{110,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,136}}</string>
                <key>sourceSize</key>
                <string>{112,138}</string>
            </dict>
            <key>winter_garkoks.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{61,155}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{61,155}}</string>
                <key>sourceSize</key>
                <string>{75,167}</string>
            </dict>
            <key>winter_kruums.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,353},{88,52}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{88,52}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>winter_resnkoks.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,226},{90,119}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{90,119}}</string>
                <key>sourceSize</key>
                <string>{120,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gadalaiki.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d1278d017e9d95111c6cbfb78488f41:1/1$</string>
            <key>textureFileName</key>
            <string>gadalaiki.png</string>
        </dict>
    </dict>
</plist>
