<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>goblin_walk_diagonal_up instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{72,0},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{144,0},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{216,0},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{288,0},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,0},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{432,0},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,108},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{72,108},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{144,108},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{216,108},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{288,108},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,108},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{432,108},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,216},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{72,216},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{144,216},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{216,216},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{288,216},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,216},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{432,216},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,324},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{72,324},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goblin_walk_diagonal_up instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,108}</string>
				<key>spriteSourceSize</key>
				<string>{72,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{144,324},{72,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>goblin_walk_diagonal_up.png</string>
				<key>textureFileName</key>
				<string>goblin_walk_diagonal_up</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
