<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>flagstab_transform instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,0},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,0},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{549,0},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{732,0},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,230},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,230},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,230},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{549,230},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{732,230},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flagstab_transform instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,230}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{183,230}</string>
				<key>spriteSourceSize</key>
				<string>{183,230}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{366,460},{183,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>mission_unlock.png</string>
				<key>textureFileName</key>
				<string>mission_unlock</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
