<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mission_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,185}}</string>
                <key>sourceSize</key>
                <string>{83,185}</string>
            </dict>
            <key>mission_flag_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{83,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,121}}</string>
                <key>sourceSize</key>
                <string>{83,121}</string>
            </dict>
            <key>mission_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{87,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{87,45}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,38},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>world_map_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,236},{18,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{18,30}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>world_map_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,24},{12,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{12,30}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>world_map_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,130},{20,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>world_map_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{18,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{18,32}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>world_map_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,62},{24,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>world_map_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,164},{20,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>world_map_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,236},{18,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{18,30}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>world_map_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,130},{20,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>world_map_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,96},{22,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>world_map_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{20,30}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldmap_batch.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e5249fc0f38672ce26f83e7f4302b04:1/1$</string>
            <key>textureFileName</key>
            <string>worldmap_batch.png</string>
        </dict>
    </dict>
</plist>
