<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>puffff instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{48,0},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{48,0},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{96,0},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{96,0},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{144,0},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{144,0},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,0},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,0},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{48,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{48,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{96,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{96,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{144,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{144,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>puffff instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,52}</string>
				<key>spriteSourceSize</key>
				<string>{48,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,52},{48,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>steaming.png</string>
				<key>textureFileName</key>
				<string>steaming</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
