<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>eviltree_walk_back instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{98,0},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{196,0},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{294,0},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{392,0},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,185},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{98,185},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{196,185},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{294,185},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{392,185},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,370},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{98,370},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{196,370},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{294,370},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{392,370},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eviltree_walk_back instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,185}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,185}</string>
				<key>spriteSourceSize</key>
				<string>{98,185}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,555},{98,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>evil_tree_up.png</string>
				<key>textureFileName</key>
				<string>evil_tree_up</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
